body {

    color:white;
    background-color:rgb(207, 159, 255);
    margin:0px;

}
header {
    border-bottom: solid 2px rgb(128, 0, 128)
    ;
    padding: 20px;
    font-size: 32px;
    color: black;
}

section{
    background: rgb(224, 176, 255);    ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;

}
